.App {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-bottom: 100px;
}

/* body {
  background-color: #1a1919;
  color: #999;
} */

li {
  list-style-type: none;
  padding: 5px;
  font-size: 16px;
  transition-property: all;
  transition-duration: 100ms;
}

li.create-test-list:hover {
  font-size: 19px;
}


ul {
  text-align: left;
}

a {
  text-decoration: none;
  color: black;
}

.media-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 50%;
}

.create-test-bottom-container {
  border: solid;
  margin: 20px;
  border-radius: 4px;
  border-color: gainsboro;
  background-color: rgb(252, 253, 253);
  height: 300px;
  overflow: scroll;
}

.create-test-bottom-container.my-media {
  height: fit-content;
}

.test-profile-container {
  border: solid;
  display: flex;
  margin: 20px 10% 20px 10%;
  border-radius: 4px;
  border-color: gainsboro;
}

.signin-container {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  height: 200px;
}

.signin-container > form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
}

.header-container {
  display: flex;
  border-bottom: solid;
  border-color: gainsboro;
  margin: 10px;
  padding-bottom: 10px;
}

.header-utility-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 20%;
  padding-right: 40px;
}

.header-user-info-container {
  width: 20%;
  text-align: left;
  padding-left: 40px;
}

.header-nav-buttons-container {
  display: flex;
  justify-content: center;
  width: 60%;
}


.header-nav-buttons-container > a {
  align-self: flex-end;
  margin: 5px;
}

.test-profile-title-container{
  width: 20%;
  border-right: solid;
  border-color: rgb(201, 201, 201);
  margin: 5px;
  overflow-y: scroll;
  height: 120px;
  word-wrap: break-word;
  padding-left: 10px;
  padding-right: 10px;
}

.test-profile-media-container {
  width: 80%;
  padding: 10px;
}

.test-profile-media {
  display: grid;
  grid-template-columns: 1fr 1fr .4fr;
  margin-top: 12px;
}

#upload-media-button {
  align-self: flex-end;
  margin: 5px;
}

.create-test-form-container {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}

.create-test-top-container {
  /* border-bottom: solid; */
  padding: 10px;
}

#create-test-queued-file-container{
  display: flex;
  justify-content: center;
  width: 25%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 3rem;
  margin-bottom: 2rem;
  height: 100px;
}

#create-test-queued-file-container > span{
  width: 100%;
  padding: 2px;
}

.poll-option-container {
  display: flex;
  flex-direction: column;
  height: 150px;
  padding: 10px;
  justify-content: space-around;
  align-items: center;
}

.poll-options-container {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.test-vote-container {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}